@font-face{
  font-family: 'webly';
  src: url(../font/webly-sleek.ttf) format('truetype');
}

*{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: white;
}

li{
  list-style-type: none;
  font-size: 12px;
  display: inline-block;
  color: grey;
}

.hide{
  display: none;
}

.blank{
  opacity: 0;
}


body{
  height: 100%;
  background-color: #E8E8E8;
  font-family:  'webly','Varela Round', sans-serif;
  font-size: 15px;

}


#wrapper{
  height: 100%;
  margin: 25px auto;
  width: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header{
  width: 100%;
}

#heading-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

#search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border-bottom: 1px solid black;
}

input{
  border: none;
   -webkit-box-flex:1;
       -ms-flex-positive:1;
           -webkit-flex-grow:1;
           flex-grow:1;
   height: 25px;
   color: black;
   font-family:  'webly','Varela Round', sans-serif;
   font-size: 15px;
   text-indent: 35px;
   outline: none;
   padding: 15px 0px;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   background-image: url('../img/search-icon.svg');
   background-position: left;
   background-repeat: no-repeat;
   -webkit-background-size: contain;
           background-size: contain;
}

main{
  padding:10px;
  background-color: white;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


#city-and-unit-selection{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
  margin: 15px auto;
}

#city {
  font-size: 25px;
}

#degree-f, #degree-c{
  cursor: pointer;
}

.active-degree-unit{
  font-family:  'webly','Varela Round', sans-serif;
  font-weight: bolder;
  color: white;
  background-color: black;
  width: 20px;
  padding-left: 5px;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

#date{
  margin: 5px auto;
  width:100%;
  text-align: justify;
  color: white;
  background-color: black;
}



#weather-summary,
.forecast-day-summary{
  margin: 15px auto;
  text-align: justify;
}

.forecast-day-summary{
  font-size: 12px;
  text-indent: 15px;
}

#three-day-forecast{
  margin: 15px auto;
}

.weather-to-come{
  margin: 5px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 20% 20% 25%;
      grid-template-columns: 35% 20% 20% 25%;
}

.forecast-day{
  display: inline-block;
  padding-left: 5px;
}

span .fa-arrow-circle-o-down{
  cursor: pointer;
}


.forecast-low-high{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
}

.forecast-icon{
 display: -webkit-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         -webkit-justify-content: center;
         justify-content: center;
 -webkit-box-align: center;
     -ms-flex-align: center;
         -webkit-align-items: center;
         align-items: center;
}


/* MAIN SECTION, AKA RIGHT SIDE */

#primary-info{
  margin: 15px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: distribute;
      -webkit-justify-content: space-around;
          justify-content: space-around;
}

#weather-status-icon{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#weather-icon-description{
  margin: 5px auto;
}
#weather-icon-img{
  font-size: 50px;
  margin: 5px auto;
}

#weather-status-now-temp{
  font-size: 65px;
}

#weather-status-low-temp,
#weather-status-high-temp{
  font-size: 12px;
}

#low-high-temp-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          -webkit-justify-content: flex-start;
          justify-content: flex-start;
}

.low-high-temp{
  padding-right: 5px;
}
.low-high-temp-icon{
  font-size: 8px;
}

.low-high-temp-type{
  font-size: 10px;
}


#secondary-info{
  margin: 25px auto 0 auto ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: distribute;
      -webkit-justify-content: space-around;
          justify-content: space-around;
}

.meta-info-unit{
  font-size: 10px;
}

.meta-info-details{
  text-align: center;
}

.meta-info-id{
  color:grey;
  font-size: 10px;
  text-align: center;
}

#tertiary-info{
  position: relative;
  margin: 15px auto ;
}


footer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center ;
      -ms-flex-align: center ;
          -webkit-align-items: center ;
          align-items: center ;
  background-color: black;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid black;
}

.footer-element{
  font-size: 12px;
  padding: 5px 10px;
  margin-right: 5px;
}


@media screen and (max-width:750px){
  #wrapper{
    margin: 0px;
    height: 100%;
    width: 100%;
  }

  body{
    background-color: white;
  }

  header{
    position: -webkit-sticky;
    position: sticky;
    top:0px;
  }

  main{
    width: 100vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

}
